.btn_header{
    color: rgb(255, 255, 255) !important;
    font-size: 19px;
    font-weight: 500;
    transition: linear 0.3s;
}

.btn_header:active, .btn_header:hover, .btn_header:focus{
    color: rgba(250, 250, 250, 0.7) !important;
    /* color: #f78a8a !important; */
    font-weight: 600;
    /* font-size: 20px; */
}

.bg_pr {
    background-color: #1c17b8 ;
}

.carousel{
    margin-top: 66px !important;
}
.carousel-indicators li{
    width: 12px !important;
    height: 12px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    border-radius: 50px !important;
    border-top: none !important;
    border-bottom: none !important;
}