.img_modal{
    border: outset 5px #152872 !important;
    border-radius: 5% !important;
}
.header_bg{
    background: #000040;
    
}

.button_send{
    background: #000040 !important;
    border: none !important;
}
.button_send:hover{
    background: #000074 !important;
    border: none !important;
}

.title_modal{
    color: white;
    font-weight: 700 !important;
    margin-left: 1rem;
}

.close span{
    color: white;
}

.format_style{
    border: 1px #000074 solid;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 4px 8px;
    color: #018599;
    font-weight: 700;
    font-size: 18px;
}