.bar_navs {
  /* border: solid 1px rgb(0, 40, 78); */
  border-radius: 50px;
  /* padding: 10px; */
}
.link_style {
  color: #000040;
  min-width: 150px;
  font-size: 20px;
  font-weight: 600;
}
.link_style::selection {
  background: greenyellow;
  font-size: 25px;
  font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px !important;
}

.nav-pills .nav-link {
    border-radius: 8px !important;
    margin: 20px;
    
}
